

@font-face {
  font-family: 'msCustom';
  src: url('ms_custom.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
}

img::selection {
  background: none;
}

html, 
body {
  font: 12px 'msCustom', arial, sans-serif;
  background-color: #f5f5f5;
}

/* Text scaling will be handled by JavaScript, not CSS media queries */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1000;
}

.header-content {
  position: relative;
  float: left;
  margin: 12px 0 0 12px;
}

.name {
  position: relative;
  float: left;
  margin-right: 20px;
}

.email-link,
.instagram-link {
  position: relative;
  float: left;
  color: inherit;
  text-decoration: none;
  margin-right: 20px;
}

.email-link:hover,
.instagram-link:hover {
  text-decoration: underline;
}

main {
  position: relative;
  float: left;
  padding-top: 30px;
}

figure {
  position: relative;
  float: left;
  clear: none;
  margin: 7px 0px 0px 7px;
}

figcaption {
  position: relative;
  float: left;
  clear: both;
}

/* Ensure 00_.png figure captions are visible above other images */
figure[data-zero-zero="true"] {
  margin-bottom: 30px !important; /* Reserve space below for caption */
}

figure[data-zero-zero="true"] figcaption {
  background-color: #f5f5f5;
  padding: 2px 4px;
  margin-top: 5px; /* Add some space between image and caption */
}

img {
  position: relative;
  float: left;
  width: 100%;
  cursor: pointer;
  margin-bottom: 1px;
}



@keyframes slideRight {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
  }
}

/* Media query removed - text scaling now handled by JavaScript */